[Unit]
Description=Namecoin
After=network.target

[Service]
User=namecoin
Group=namecoin

Type=simple
ExecStart=/usr/local/bin/namecoind -conf=/etc/namecoin/namecoin.conf -datadir=/var/lib/namecoin

Restart=always
TimeoutStartSec=2s
TimeoutStopSec=60s

[Install]
WantedBy=multi-user.target
Alias=namecoin.service
